{% extends 'base.html' %} {% block body %}

<table class="table">
  <thead>
    <tr>
      <th>Active</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    {% for connector in connectors %}
    <form action="/saveconnector/{{connector.name}}" method="POST">
      <tr>
        <td>
          <input type="checkbox" name="active" {{"checked" if connector.active}}
          />
        </td>
        <td>
          <a href="connectors/{{connector.name}}">{{connector.name}}</a>
        </td>
        <td>
          <input class="btn btn-primary" type="submit" value="save" />
        </td>
      </tr>
    </form>
    {% endfor %}
  </tbody>
</table>

{% endblock body %}
