{% extends "base.html" %} {% block body %}
<div id="app">
  <table class="table" id="config_table">
    <thead>
      {% for key in results.schema %}
      <th>{{key.name}}</th>
      {% endfor %}
    </thead>
    <tbody>
      <tr
        is="host-config"
        v-for="(host, index) in hosts"
        v-bind:hosts="hosts"
        v-bind:host="host"
        v-bind:index="index"
        v-bind:key="host.name"
      ></tr>
    </tbody>
  </table>
  <input
    type="button"
    value="Add"
    class="btn-primary"
    onclick="onAddConfigClick()"
  />
  <input
    type="button"
    value="Save"
    class="btn-primary"
    onclick="onSaveClick()"
  />
</div>
<script>
  Vue.component("host-config",
    {
      props: ["host", "index", "hosts"],
      template: `
        <tr>
        {% for key in results.schema %}
        <td>
          <input
            type="{{key.type}}"

            {% if key.type == "text" %}
            v-bind:value="[[host.{{key.name}}]]"
            {% elif key.type == "checkbox" %}
            v-bind:checked="host.active"
            {% endif %}

            {% if key.type == 'checkbox' %}
            v-on:change="host['{{key.name}}'] = $event.target.checked"
            {% else %}
            v-on:blur="host['{{key.name}}'] = $event.target.value"
            {% endif %}

            {% if not key.editable %}
            readonly
            {% endif %}
          />
        </td>
        {% endfor %}
        <td>
          <input type="button" value="X" v-on:click="hosts.splice(index, 1)" class="btn btn-sm" style="padding: 0px;"/>
        </td>
        </tr>`
    }
  )
  var app = new Vue(
    {
      el: "#app",
      data: {
        hosts: {{results.hosts | tojson}},
        schema: {{results.schema | tojson}}
      },
      delimiters: ["[[", "]]"]
    }
  );

  function onAddConfigClick(){
    var base_config = {}
    app.schema.forEach(function(item){
      base_config[item.name] = item.default
    })
    app.hosts.push({...base_config})
  }

  function onSaveClick(){
    const url = "http://" + window.location.host + "/saveconfig"
    console.log(app.hosts)
    $.post("/saveconfig", JSON.stringify(app.hosts), function(){
      alert("Saved");
    })
  }
</script>
{% endblock body %}
