{% extends "base.html" %} {% block body %}

<div id="app">
  <label for="down_checkbox">Show Down</label>
  <input
    name="down_checkbox"
    type="checkbox"
    onchange="app.is_dead_icon=!app.is_dead_icon"
    checked
  />
  <label for="up_checkbox">Show Up</label>
  <input
    name="up_checkbox"
    type="checkbox"
    onchange="app.is_alive_icon=!app.is_alive_icon"
    checked
  />
  <table class="table">
    <tbody>
      <tr
        is="host-row-dead"
        v-for="host in hosts"
        v-bind:host="host"
        v-bind:key="host.name"
        v-bind:is_alive_icon="is_alive_icon"
        v-bind:is_dead_icon="is_dead_icon"
      ></tr>
      <tr
        is="host-row-alive"
        v-for="host in hosts"
        v-bind:host="host"
        v-bind:key="host.name"
        v-bind:is_alive_icon="is_alive_icon"
        v-bind:is_dead_icon="is_dead_icon"
      ></tr>
    </tbody>
  </table>
</div>
<script>
  Vue.component("host-row-alive",
    {
      props: ["host", "is_alive_icon", "is_dead_icon"],
      template: `
      <tr v-if="is_alive_icon && host.alive && host.active">
        <td v-html="host.label"></td>
        <td>
          <div class="alive_icon alive"></div>
        </td>
      </tr>
      `
    });

    Vue.component("host-row-dead",
    {
      props: ["host", "is_alive_icon", "is_dead_icon"],
      template: `
      <tr v-if="is_dead_icon && !host.alive && host.active">
        <td v-html="host.label"></td>
        <td>
          <div class="alive_icon dead"></div>
        </td>
      </tr>
      `
    });

    var app = new Vue({
    el: "#app",
    data: {
      hosts: {{results | tojson}},
      is_alive_icon: true,
      is_dead_icon: true,
      test: "Hello"
    },
    delimiters: ["[[", "]]"]
  }
  );
  function compare(a,b){
    if (a.alive == b.alive){
      return 0
    }else if(a.alive){
      return 1
    }else {
      return -1
    }
  }
  app.hosts = app.hosts.sort(compare)
  $.getJSON("/hosts", function(result) {app.hosts = result.hosts})
  setInterval(function (){
    $.getJSON("/hosts", function(result) {app.hosts = result.hosts})
    app.hosts = app.hosts.sort(compare)
  }, 5000)
  function toggle_down(item) {
    if (item.checked) {
      $(".is_dead_icon").css("visibility", "visible");
    } else {
      $(".is_dead_icon").css("visibility", "hidden");
    }
  }
  function toggle_up(item) {
    if (item.checked) {
      $(".is_alive_icon").css("visibility", "visible");
    } else {
      $(".is_alive_icon").css("visibility", "hidden");
    }
  }
</script>
{% endblock %}
