{% extends 'base.html' %} {% block body %}
<br />

<form
  class="form"
  action="/config/connectors/{{connector.name}}/{{current_configuration.name}}"
  method="POST"
>
  <div class="row" style="padding-bottom: 0px">
    <div class="col-sm-6">
      <h3>{{current_configuration.name}}</h3>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3">
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
        >
          {{current_configuration.name}}
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/config/connectors/{{connector.name}}">
            -New Configuration-
          </a>
          {% for configuration in connector.configurations %}
          <a
            class="dropdown-item"
            href="/config/connectors/{{connector.name}}/{{configuration.name}}"
            >{{configuration.name}}</a
          >
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <hr />
  {% if current_configuration.name == "-New Configuration-" %}
  <div class="form-group row">
    <div class="col-sm-1">
      <label for="name">Name</label>
    </div>
    <div class="col-sm-1">
      <input type="text" name="name" />
    </div>
  </div>
  {% endif %} {% for field in connector.configuration_template %}
  <div class="form-group row">
    <div class="col-sm-1">
      <label for="{{field.name}}">{{field.name}}</label>
    </div>
    <div class="col-sm-1">
      <input
        type="{{field.type}}"
        name="{{field.name}}"
        value="{{current_configuration[field.name]}}"
      />
    </div>
  </div>
  {% endfor %}
  <div class="form-group row">
    <div class="col-sm-3">
      <input type="submit" value="Save" class="btn btn-primary" />
    </div>
    <div class="col-sm-6"></div>
    {% if current_configuration.name != "-New Configuration-" %}
    <div class="col-sm-3">
      <a
        class="btn btn-danger"
        href="/config/connectors/{{connector.name}}/{{current_configuration.name}}/delete"
        >Delete</a
      >
    </div>
    {% endif %}
  </div>
</form>
{% endblock body %}
